<h1>Find Mooch on Github</h1>

<div class="contacts-body">

<div class="contact">
  <span class="image-cropper" id="octocat">
    <a href="http://github.com/cececlar/mooch"><img src="https://s-media-cache-ak0.pinimg.com/736x/11/8e/6f/118e6f39fac9344d6589c84d5ee9e667--github-logo-computer-science.jpg" alt="mooch github" /></a>
  </span>
    <h4>Mooch Repo</h4><br>
  </div>

  <div class="contact">
    <span class="image-cropper">
      <a href="https://github.com/cristivania"><img src="https://files.slack.com/files-pri/T055GEHEJ-F645ESNA2/img_2512.jpg" alt="cristina rosario" /></a>
    </span>
      <h4>Cristina Rosario</h4><br>
    </div>

  <div class="contact">
  <span class="image-cropper">
    <a href="http://github.com/cececlar"><img src="https://avatars0.githubusercontent.com/u/27143057?v=3&s=460" alt="cece claridge" /></a>
  </span>
    <h4>Cece Claridge</h4><br>
  </div>


<div class="contact">
  <span class="image-cropper">
  <a href="http://github.com/TowelModel42-108"><img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAz3AAAAJDllZTZiYzkxLWFkNzgtNDdjMi1iMWUzLTk2NDhiOTY3OTkzNA.jpg" alt="livio zanardo" /></a>
</span>
  <h4>Livio Zanardo</h4><br>
</div>
</div>
<br>

<h3>Drop Us a Line</h3>

  <div class="contact-form" align="center">
    <%= simple_form_for @contact, :html => {:class => 'form-group' } do |f| %>
      <%= f.input :name, :required => false %>
      <%= f.input :email, :required => false %>
      <%= f.input :message, :as => :text, :required => false %>
      <div>
        </br>
        <!-- This button needs to match the theme, but it is in Ruby code???? -->
        <%= f.button :submit, 'Send message', :class=> "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
