<div align="center">
  <h3>Contact Our Team!</h3>

<div id="contact-table">
    <table>
        <th><h2>Github</h2></th>
        <th><h2>Cece Claridge</h2></th>
      <tr>
        <td><img src="https://image.flaticon.com/icons/png/512/25/25231.png"><br><br>Help Mooch, feed it some leftover code.<br><a href="https://github.com/cececlar/mooch">Githuh Repo</a></td>
        <td><img src="https://avatars0.githubusercontent.com/u/27143057?v=3&s=460"><br><br>School Teacher and Programmer<br><a href="https://github.com/cececlar">https://github.com/cececlar</a></td>
      </tr>
        <th><h2>Cristina Rosario</h2></th>
        <th><h2>Livio Zanardo</h2></th>
      <tr>
        <td><img src="https://avatars1.githubusercontent.com/u/19956454?v=3&s=460"><br><br>Front End Programmer<br><a href="https://github.com/cristivania">https://github.com/cristivania</a><br></td>
        <td><img src="https://avatars0.githubusercontent.com/u/22479605?v=3&s=460"><br><br>Pro at grammar and Meme Connoisseur<br><a href="http://github.com/TowelModel42-108">https://github.com/TowelModel42-108</a></td>
      </tr>
    </table>
</div>
<br>
<br>
<br>
<br>

<h3> Contact Us Here</h3>
  <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
    <%= f.input :name, :required => true %>
    <%= f.input :email, :required => true %>
    <%= f.input :message, :as => :text, :required => true %>
    <div class= "hidden">
      <%= f.input :nickname, :hint => 'Leave this field blank!' %>
    </div>
    <div>
      </br>
      <!-- This button needs to match the theme, but it is in Ruby code???? -->
      <%= f.button :submit, 'Send message', :class=> "btn btn-primary" %>
    </div>
  <% end %>
</div>
