
<%= form_for @food, html: { multipart: true } do |f| %>
  <% if @food.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@food.errors.count, "error") %> prohibited this food from being saved:</h2>

     <ul>
      <% @food.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


 <div class="contact-form">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="contact-form">
     <%= f.label :date %>
     <%= f.text_field :date %><br>
  </div>

 <div class="contact-form">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

 <div class="contact-form">
  <strong class="contact-form">Add an image
  <%= f.file_field :image %></strong>
</div><br>

 <div class="actions">
    <center><%= f.submit %></center>
  </div>

<% end %>
