<!-- section intro -->
<section id="intro">
      <ul id="slippry-slider">
        <li>
        <a href="#slide1"><img src="https://o.info/wp-content/uploads/2015/12/6921934437_52fbaa46ea_z.jpg" alt="Welcome to Mooch."></a>
        </li>
        <li>
        <a href="#slide2"><img src="http://mydatinghangovers.com/wp-content/uploads/2010/12/Leftovers.jpg"  alt="Open source your leftovers."></a>
        </li>
        <li>
        <a href="#slide3"><img src="http://www.dinnerwithjulie.com/wp-content/uploads/2011/12/Leftovers1.jpg" alt="Revolutionize your meals."></a>
        </li>
      </ul>
</section>
<!-- end intro -->

<p id="notice"><%= notice %></p>


<h2>⇣Eat Something⇣<%= link_to '  ＋Post Something＋', new_food_path %></h2>

  <div class="gallery-parent">
    <% @foods.each do |food| %>
    <div class="gallery">
      <strong>Up for grabs:</strong> <%= food.name %><br>
      <strong>Posted on:</strong> <%= food.date %><br>
      <%= image_tag(food.image.medium) %><br>
      <strong>Description:</strong> <%= food.description %><br>
        <center>
        <%= link_to 'Show', food %>
        <%= link_to 'Edit', edit_food_path(food) %>
        <%= link_to 'Delete', food, method: :delete, data: { confirm: 'Are you sure?' } %>
      </center>
    </div>
  </div>
    <% end %>
  </tbody>
</table>

<br>
