<!-- section intro -->
<section id="intro">
      <ul id="slippry-slider">
        <li>
        <a href="#slide1"><img src="https://o.info/wp-content/uploads/2015/12/6921934437_52fbaa46ea_z.jpg" alt="Welcome to Mooch."></a>
        </li>
        <li>
        <a href="#slide2"><img src="http://mydatinghangovers.com/wp-content/uploads/2010/12/Leftovers.jpg"  alt="Open source your leftovers."></a>
        </li>
        <li>
        <a href="#slide3"><img src="http://www.dinnerwithjulie.com/wp-content/uploads/2011/12/Leftovers1.jpg" alt="Revolutionize your meals."></a>
        </li>
      </ul>
</section>
<!-- end intro -->

<p id="notice"><%= notice %></p>


<h2>⇣Eat Something⇣</h2>

  <div class="gallery-parent">
    <% @foods.each do |food| %>
    <div class="gallery">
      <strong>Up for grabs:</strong> <%= food.name %><br>
      <strong>Posted on:</strong> <%= food.date %><br>
      <%= image_tag(food.image.medium) %><br>
        <center>
        <!-- <span class="show-description" onClick="showDescription()">'Show Description </span>| -->
        <%= link_to 'Show description ', food %>|
        <%= link_to ' Edit ', edit_food_path(food) %>|
        <%= link_to ' Delete', food, method: :delete, data: { confirm: 'Are you sure?' } %><br>
        <!-- <div id="hidden-description" style="display: none"><%= food.description %></div> -->
        <input class="click-me-buttons" id="food-<%= food.id %>" type="button" value="Mark food as mooched" />
      </center>
    </div>
  </div>
    <% end %>
  </tbody>
</table>
<h2><%= link_to '＋Post Something＋', new_food_path %></h2>
<br>
<br>
