<p id="notice"><%= notice %></p>
<center>
<div class="gallery">

  <strong>Up for grabs:</strong>
  <%= @food.name %><br>

  <strong>Posted on:</strong>
  <%= @food.date %><br>

  <strong>Description:</strong>
  <%= @food.description %><br>

  <%= image_tag(@food.image.medium) %>

<%= link_to 'Edit', edit_food_path(@food) %> |
<%= link_to 'Back', foods_path %>
</div>
</center>
