<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @food.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @food.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @food.date %>
</p>

<p>
  <strong>Image:</strong>
  <%= @food.image %>
</p>
<!-- show off image -->

<%= image_tag(@snippet.image_url.to_s) %>
<!-- show off image -->

<%= link_to 'Edit', edit_food_path(@food) %> |
<%= link_to 'Back', foods_path %>
