<p id="notice"><%= notice %></p>

<h2>⇣What People Are Saying⇣<%= link_to '  ＋Say Something＋', new_testimonial_path %></h2>
<div class="test-parent">
  <% @testimonials.each do |testimonial| %>
  <div class="testimonial">
      <strong>Name:</strong> <%= testimonial.name %><br>
      <strong>Title:</strong> <%= testimonial.title %><br>
      <%= image_tag(testimonial.image.medium) %><br>
      <strong>Comments:</strong> <%= testimonial.comments %><br>
        <center>
        <%= link_to 'Show', testimonial %>
        <%= link_to 'Edit', edit_testimonial_url(testimonial) %>
        <%= link_to 'Delete', testimonial, method: :delete, data: { confirm: 'Are you sure?' } %>
      </center>
    </div>
  </div>
      <% end %>
