<p id="notice"><%= notice %></p>
<h2><br>⇣What Moochers Are Saying⇣</h2>
<div class="test-parent">
  <% @testimonials.each do |testimonial| %>
  <div class="testimonial">
      <strong>Name:</strong> <%= testimonial.name %><br>
      <strong>Title:</strong> <%= testimonial.title %><br>
      <%= image_tag(testimonial.image.medium) %><br>
        <center>
        <%= link_to 'Show comments ', testimonial %>|
        <%= link_to ' Edit ', edit_testimonial_url(testimonial) %>|
        <%= link_to ' Delete', testimonial, method: :delete, data: { confirm: 'Are you sure?' } %>
      </center>
    </div>
  </div>
      <% end %>
      <h2><%= link_to '  ＋Say Something＋', new_testimonial_path %></h2>
<br><br>
