<p id="notice"><%= notice %></p>

<center>
<div class="testimonial">

  <strong>Name:</strong>
  <%= @testimonial.name %><br>

  <strong>Title:</strong>
  <%= @testimonial.title %><br>

  <%= image_tag(@testimonial.image.medium) %><br>

  <strong>Comments:</strong>
  <%= @testimonial.comments %><br>

<center>
<%= link_to 'Edit', edit_testimonial_path(@testimonial) %>
<%= link_to 'Back', testimonials_path %>
</center>
</div>
</center>
